.Home
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .header
        text-align: center
        margin-top: auto
        position: sticky
        top: 0
    .search-container
        background-color: #fff
        padding: 20px 0
        position: sticky
        top: 0
        z-index: 99
        width: 100%
        text-align: center
    .content
        margin-bottom: auto
        .info
            width: 290px
            display: inline-block
            text-align: center
            margin: 0 auto